<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SecondHandMarket</display-name>
	<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.ItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/ItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollectServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.CollectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollectServlet</servlet-name>
		<url-pattern>/CollectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/UpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PublishServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.PublishServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublishServlet</servlet-name>
		<url-pattern>/PublishServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RelationshipServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.RelationshipServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RelationshipServlet</servlet-name>
		<url-pattern>/RelationshipServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.MessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/MessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PullingServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.PullingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PullingServlet</servlet-name>
		<url-pattern>/PullingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClassficationServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.ClassficationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClassficationServlet</servlet-name>
		<url-pattern>/ClassficationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VersionServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.VersionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VersionServlet</servlet-name>
		<url-pattern>/VersionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdvertisementServlet</servlet-name>
		<servlet-class>com.secondhandmarket.servlet.AdvertisementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisementServlet</servlet-name>
		<url-pattern>/AdvertisementServlet</url-pattern>
	</servlet-mapping>
</web-app>